.circle{
  background: pink;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
}

.circle:hover{
  opacity: 0.5;
}

.box{
  text-align: center;
}

/*以下為dialog ui設定*/
/*Tittle bar*/
.dialogsetting .ui-dialog-titlebar{
  background: pink;
  border-style: none;
}
/*Close button*/
.dialogsetting  .ui-dialog-titlebar-close{
  background: white;
  border-style: none;
  width: 20px;
  height: 20px;
}
/*Content*/
.dialogsetting  .ui-dialog-content{
  /*background:#4ABDAC;*/
  text-align: center;
}
  .dialogsetting  .ui-dialog-content>*{
    display: inline-block;
    vertical-align:top;
  }
/*以上為dialog設定*/

/*Begin dialog container template*/
/*左半邊*/
.photo{
  height: 100%;
  width: 49%;
  border: 1px solid black;
}
.big{
  width: 98%;
  height: 75%;
  margin: 5px;
  border: 1px solid black;
}
.sycingbar{
  width: 98%;
  height: 20%;
  margin: 5px;
  border: 1px solid black;
}
/*右半邊*/
.detail{
  height: 100%;
  width: 49%;
  border: 1px solid black;
  vertical-align:top;
}
  .detail ul{
    text-align: left;
    list-style-type: none;
    font-size: 25px;
    color: rgb(9,70,152);
    margin: 20px 10px 0px;
  }
    .detail ul li, .detail ul li *{
      font-size: 18px;
      margin: 10px;
      color: rgb(48,69,98);
    }

.coloricon{
  background: #FFC0CB;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

/*End dialog container template*/
/*color palette*/
.color1{
  background:#4abdac;
}

.color2{
  background:#FC4A1A;
}

.color3{
  background:#F7B733;
}

.color4{
  background:#DFDCE3;
}
