body {
    box-sizing: border-box;
}

.page {
    width: 100%;
    text-align: center;
}

.board{
    background: transparent;
    padding: 5px;
    display: inline-block;
    width: 750px;
}

/* 分行 */
.col{
    width: auto;
    height: 200px;
    padding: 7px 0px;
}

/* 每個框框基本設定 */
.col > div{
    margin: 0px 5px;
    display: inline-block;
    vertical-align:top;
    height: 100%;
    
/*  for context in talk bub. */
    line-height:100px;
}

.rect1_2{
    width: 350px;
    background: rgb(23, 206, 144);
    border: 2px solid black;
}

.rect1_3{
    width: 227px;
    background: transparent;
    border: 2px solid black;
}

.rect3_5{
    width: 420px;
    background: #ff6520;
    border: 2px solid black;
}

.rect2_5{
    width: 280px;
    background: #139569;
    border: 2px solid black;
}

/*每個框框的設定*/
/*環狀*/
.spiral{
    background: #015c65;
    background-image:
        repeating-radial-gradient(circle,transparent, transparent 10px, rgba(0, 176, 193, 0.5) 10px, rgba(0, 176, 193, 0.5) 20px,transparent 20px, transparent 40px, rgba(0, 176, 193, 0.5) 40px, rgba(0, 176, 193, 0.5) 70px);
    -webkit-animation: flash 0.5s infinite;
    animation: flash 0.5s infinite;
}

.spiral:hover{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

/*animation flash*/
@-webkit-keyframes flash{
    0%{background-image:
        repeating-radial-gradient(circle,transparent, transparent 10px, rgba(0, 176, 193, 0.5) 10px, rgba(0, 176, 193, 0.5) 20px,transparent 20px, transparent 40px, rgba(0, 176, 193, 0.5) 40px, rgba(0, 176, 193, 0.5) 70px);}
    100%{background-image:
        repeating-radial-gradient(circle,rgba(0, 176, 193, 0.5), rgba(0, 176, 193, 0.5) 10px, transparent 10px, transparent 20px,rgba(0, 176, 193, 0.5)  20px, rgba(0, 176, 193, 0.5) 40px, transparent 40px, transparent 70px);}
}

@keyframes flash{
    0%{background-image:
        repeating-radial-gradient(circle,transparent, transparent 10px, rgba(0, 176, 193, 0.5) 10px, rgba(0, 176, 193, 0.5) 20px,transparent 20px, transparent 40px, rgba(0, 176, 193, 0.5) 40px, rgba(0, 176, 193, 0.5) 70px);}
    100%{background-image:
        repeating-radial-gradient(circle,rgba(0, 176, 193, 0.5), rgba(0, 176, 193, 0.5) 10px, transparent 10px, transparent 20px,rgba(0, 176, 193, 0.5)  20px, rgba(0, 176, 193, 0.5) 40px, transparent 40px, transparent 70px);}
}

/*animation noise*/
.aninoise:hover{
    background: 
        radial-gradient(transparent 90%,rgb(159, 209, 91) 90%,rgb(159, 209, 91) 10%),
        radial-gradient(transparent 50%,rgb(23, 206, 144) 50%,rgb(23, 206, 144) 30%),
        repeating-linear-gradient(gray 5%,rgb(22, 88, 66) 10%,white 20%,gray 25%,rgb(22, 88, 66) 70%,gray 73%,rgb(22, 88, 66) 87%),
        repeating-linear-gradient(67deg,black 5%,rgb(22, 88, 66) 20%,transparent 30%),
        repeating-linear-gradient(-73deg,black 5%,gray 20%,transparent 30%);
    background-size: 10px 10px,3px 3px,100px 67px,30px 80px,23px 79px;
    animation: noise 1s linear 1;
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}

@keyframes noise{
    0% {background-position: 0px 0px;}
    50%{background-position: 100% 100%;}
    51%{background: black;}
    100%{background: black;}
}

/*格子狀*/
.aniA{
    border-style: none;
}

.lattice{
    width: 227px;
    height: 100%;
    background: orange;
    border: 2px solid black;
    background-image:
        linear-gradient(45deg,#b46e32 8px,transparent 0),
        linear-gradient(-135deg,#b46e32 8px,transparent 0),
        linear-gradient(-135deg,#b46e32 8px,transparent 0),
        linear-gradient(45deg,#b46e32 8px,transparent 0);
    background-size: 20px 20px;
    background-position: 0px 0px,10px 10px,0px 0px,10px 10px;
    float: right;
    display: inline-block;
    
    /* Transition when the mouse leaves the element */
    transition: all 1s ease-out 0.1s;
}

.test{
    width: 0px;
    height: 100%;
    background: red;
    border: 0px solid black;
    display: inline-block;
    float: left;
    
    /* Transition when the mouse leaves the element */
    transition: all 0.6s ease;
}
}

.clear{
    clear: both;
}

/*A消失 b出現*/
.aniA:hover .lattice{
    width: 100px;
    background: black;
    /* Transition when the mouse enters the element */
    transition: all 1s ease;
}

.aniA:hover .test{
    width: 105px;
    border: 2px solid black;
    /* Transition when the mouse enters the element */
    transition: all 1s ease 0.1s;
}

/*正中間*/
.enter{
    background: #faf039;
    vertical-align: middle;
}

/*點點＋右下移動+旋轉*/
.screentone{
    background: radial-gradient(#000 20%,#b8e25a 20%);
    background-size: 10px 10px;
}

.screentone:hover{
    animation: 
        bscale 10s infinite ease,
        yrotate 2s linear 1;
}

@keyframes bscale{
    0% {background-position: 0px 0px;}
    100%{background-position: 100% 100%;}
}

@keyframes yrotate{
    0% , 100%{
        -webkit-transform: rotateY(0deg); /* Safari */
        transform: rotateY(0deg); /* Standard syntax */
    }
    
    50%{
        -webkit-transform: rotateY(180deg); /* Safari */
        transform: rotateY(180deg); /* Standard syntax */
    }
}


/*震動*/
.swing:hover{
    animation: swingani 0.5s ease;
    animation-iteration-count: 5;   
    -webkit-animation: swingani 0.5s ease;
    -webkit-animation-iteration-count: 5;
}

@-webkit-keyframes swingani
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swingani
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/*斜線*/
.slash{
    background: white;
    background-image:
        repeating-linear-gradient(45deg,#ff0000,#ff0000 10px,transparent 3px,transparent 10px,transparent 20px,blue 20px,blue 30px);
    background-size: 42px 42px; /* 寬x高 */
}

.slash:hover{
    animation: 
        ascale 3s infinite linear,
        drop 1s 1 linear;
    animation-fill-mode: forwards;
    transform-origin: 0% 100%;
}

@keyframes ascale{
    0% {background-position: 0px 0px;}
    100%{background-position: 0px -100%;}
}

@keyframes drop{
    30%{transform: rotate(90deg);}
    60%{transform: rotate(60deg);}
    70%{transform: rotate(90deg);}
    80%{transform: rotate(75deg);}
    90%{transform: rotate(90deg);}
    95%{transform: rotate(85deg);}
    100%{transform: rotate(90deg);}
    
}

/*Talk bub*/
.speebub{
    background: #fffbeb;
    display: inline-block;
}

.talkbub_border{
    border: 5px solid #383838;
}

.bub1{
    height: 100px;
    width: 110px;
    border-radius: 60% 40% 50% 50%/45% 45% 55% 55%;
    position: relative;
    top: -50px;
    left: -20px;
}

.bub2{
    height: 110px;
    width: 150px;
    border-radius: 50%/45% 45% 55% 55%;
    position: relative;
    top: 50px;
    left: -10px;
}

.bub1::before{
    content: '';

    width: 38px;
	height: 10px;

    background: #fffbeb;
    border: 5px solid #383838;
	border-color: #383838 transparent #383838  transparent;

    position: absolute;
	left: 100px;
    top: 60px;
    z-index: 5;

    /* Rotate div */
    transform:rotate(14deg);
    -ms-transform:rotate(14deg); /* Internet Explorer */
    -moz-transform:rotate(14deg); /* Firefox */
    -webkit-transform:rotate(14deg); /* Safari 和 Chrome */
    -o-transform:rotate(14deg); /* Opera */
}

.bub2::before{
    content: '';

    width: 0px;
	height: 0px;

    border: 20px solid #383838;
    border-color: #383838 transparent transparent transparent;
    border-width: 36px 20px 0 15px;

    position: absolute;
	left: 45px;
    top: 108px;

    /* Rotate */
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); /* Internet Explorer */
    -moz-transform:rotate(0deg); /* Firefox */
    -webkit-transform:rotate(7deg); /* Safari 和 Chrome */
    -o-transform:rotate(0deg); /* Opera */
}

.bub2::after{
    content: '';

    width: 0px;
	height: 0px;

    border: 20px solid #fffbeb;
    border-color: #fffbeb transparent transparent transparent;
    border-width: 34px 20px 0 10px;

    position: absolute;
	left: 50px;
    top: 100px;

    /* Rotate */
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); /* Internet Explorer */
    -moz-transform:rotate(0deg); /* Firefox */
    -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
    -o-transform:rotate(0deg); /* Opera */
}

/*background ani gradient*/
.aniB{
    background: linear-gradient(135deg, white 20%, black 80%);
    background-size: 1680px 800px;
    /*  420 X 200 的4倍     */
}

.aniB:hover{
    -webkit-animation: aniB 2s ease 1;
    animation: aniB 2s ease 1;
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}

@-webkit-keyframes aniB{
    0%{background-position: 0% 0%;}
    33%{background-position: 25% 100%;}
    66%{background-position: 50% 0%;}
    100%{background-position: 100% 100%;}
}

@keyframes aniB{
    0%{background-position: 0% 0%;}
    33%{background-position: 25% 100%;}
    66%{background-position: 50% 0%;}
    100%{background-position: 100% 100%;}
}