* {
    box-sizing: border-box;
}

.scrollable{
    border:1px solid black;
    width:900px;
    height:325px;

    overflow: auto;
}

.showcase{
    width: 900px;
}


.showcaseinner{
    display: inline-block;
    width: 280px;
    height: 230px;
    margin: 10px;
    
    border: 1px solid #000000;
    
    position: relative;
}

.showcaseinner img{
    width: 100%;
    margin-top: 10px;
}

.item{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
}

.price{
    font-family: 'Bubbler One', sans-serif;
    font-size: 23px;
    text-align: right;
    font-weight: 900;
    color: rgb(21, 39, 80);
    margin-right: 20px;
    margin-top: 10px;
}

#total{
    text-align: center;
    color: rgb(154, 59, 27);
}

.total-text{
    text-align: right;
}
